:root {
  --c: 40;
  --u: 1vmin;
  --s: calc(var(--c) * var(--u));
  
  --perspective: 500px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}

.perspective, .perspective * {
  position: absolute;
  transform-style: preserve-3d;
}

.perspective {
  width: var(--s);
  height: 0;
  padding-bottom: var(--s);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: var(--perspective);
}

.perspective:hover .cube{
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.cube {
  width: 100%;
  height: 100%;
  transform: rotateX(0deg);
  -webkit-animation: 5s linear infinite running c-a;
          animation: 5s linear infinite running c-a;
}

.s {
  width: 100%;
  height: 100%;
  left: 100%;
  outline: 1px solid rgba(0, 0, 0, 0);
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('https://gitlab.com/thelogs/textures/raw/master/green.svg');
  transform-origin: left;
  transform: rotateY(90deg);
}

.s-1 {
  left: 0;
  transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
}


.top, .bottom {
  width: 100%;
  height: 100%;
  outline: 1px solid rgba(0, 0, 0, 0);
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('https://gitlab.com/thelogs/textures/raw/master/green.svg');
}

.top {
  top: -100%;
  transform-origin: bottom;
  transform: rotateX(90deg);
}

.bottom {
  bottom: -100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}









@-webkit-keyframes c-a {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}









@keyframes c-a {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}